footer{
    background-color: rgb(53,53,53);
    color: white;
    padding: 20px;
    font-weight: 300;
    h2{
        font-family: "Shrikhand", cursive;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
    }
    a{
        color:white;
    }
    ul{
        li{
            i{
                width:20px;
                height: 25px;
                length: 10px;
            }
            span{
                padding-left: 10px;
                font-weight: 400;
            }
        }
    }
    
}


// Responsive 
@media screen and (min-width: 850px) {

        footer{
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            height: 114px;


            h2, ul{
            display: flex;
            width: 20%;
            margin-left: 35%;
            font-size: 17px;
            height: 50px;
            padding-top: 25PX;
            margin-bottom: 0px;
           
            li,a{
                padding-left: 15px;
                white-space: nowrap;
            }
        }
}
}
