footer{
    background-color: rgb(53,53,53);
    color: white;
    margin-top: 40px;
    padding: 20px;
    font-weight: 300;
    h2{
        font-family: "Shrikhand", cursive;
        margin-bottom: 20px;
        width: 100%;
        font-size: 20px;
    }
    a{
        color:white;
    }
    ul{
        li{
            i{
                width:20px;
                height: 25px;
                length: 10px;
            }
            span{
                padding-left: 10px;
                font-weight: 400;
            }
        }
    }
    
}


// Responsive 
@media screen and (min-width: 850px) {

        footer{
            
            h2, ul{
            display: flex;
            justify-content: flex-end;    
            flex-direction: row;  
            flex-wrap: nowrap;
            li,a{
                padding-left: 15px;
                flex-wrap: nowrap;
            }
        }
}
}
