// header commun
header {
    display: flex;
    align-items: center;
    height: 65px;

    a {
        color: black;
    }

    i {
        padding-left: 22px;
        font-size: 20px;
        align-items: flex-start;
    }

    h1 {
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 30px;
    }

    img {
        height: 30px;
        width: 170px;
        padding-right: 31px;
        margin: 0px auto;
        display: block;
        cursor: pointer;
    }

}

// header home 
.home-header {
    padding: 30px 10px 15px 10px;
    display: flex;
    justify-content: center;
    height: 20px;

    img {
        height: 30px;
        cursor: pointer;
        padding-right: 0px;
    }
}



// Responsive 
@media screen and (min-width: 1024px) {

    .home-header {
        height: 50px;
        padding: 23px 10px 25px 10PX;

        img {
            width: 200px;
            height: 35px;
        }
    }

    .menu-header {
        padding: 30px 10px 0px 10px;

        i {
            padding-bottom: 26px;
            padding-left: 16px;
        }

        img {
            width: 200px;
            padding-right: 30px;
            padding-bottom: 30px;
        }

    }

}