// header commun
header{
    display: flex;
    align-items: center;
    height: 65px;
    i{
        padding-left: 13px;
        align-items: flex-start;
    }
    a{
        font-size: 20px;
        color: black;
    }

    h1{
        font-family: 'Shrikhand', cursive;
        text-align: center;
        font-size: 30px;
    }

    img{
        height: 30px;
        width: 170px;
        padding-right: 10px;
        margin: 0px auto;
        display: block;
        cursor: pointer;
    }

}

// header home 
.home-header{
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: center;
    height: 20px;
    
    img {
        height: 30px;
        cursor: pointer;
    }
}




// Responsive 
@media screen and (min-width: 1024px) {
    header{
        padding: 20px 10px 20px 10PX;
        i{
            padding-bottom: 10px;
        }
        img{
            height: 40px;
            padding-right: 0px;
        }

        }

    
    .home-header{
        height: 50px;
        img{
            width: 200px;
            height: 35px;
        }
    }

     
    .menu-header{
        padding: 20px 10px 0px 10px;
        i{
            padding-bottom: 20px;
        }
        img{
            width: 200px;
            padding-right: 22px;
            padding-bottom:42px ;       }
        
    }

}


   