/*Loader*/
body {
    .loader {
        $animation-duration: 3s;
        position: fixed;
        display: grid;
        place-items: center;
        background-color: $tertiary-color;
        height: 100vh;
        inset: 0PX;
        z-index: 1;
        opacity: 0.9em;
        animation: loader 100ms $animation-duration forwards;
        transform-origin: top;
        &::after{
            content: "";
            height: 100px;
            width: 100px;
            border-top:15px solid $primary-color;
            border-right: 0px solid $tertiary-color;
            border-bottom: 15px solid $secondary-color;
            border-radius: 50%;
            animation: spin $animation-duration infinite linear;
                }

            }
@keyframes loader {
    to {
        transform: scale(0);
        }       
                    }
@keyframes spin{
    to{
        transform: rotate(360deg);
        }
                }
            
    }

.like{

    i{
        position: absolute;
        bottom: 25px;
        right: 30px;
        font-size: 25px;
        cursor: pointer;
    }

    .my-heart-full{
        opacity: 0;
        transition-property: all;
        transition-duration: 500ms;
       
    }
    .my-heart-full:hover {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient($primary-color,$secondary-color);
        background-clip: text;
        -webkit-background-clip:text;
    }

}
   